
.forgotpassword-page {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    min-height: 100vh; /* Ensure the container takes up the full viewport height */
  }
.fpass-container {
    background-color: #6fd493;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 5px rgb(110, 151, 115);
   
    width: 150%;
    max-width: 400px;
    text-align: center;
    margin: auto;
}

.fpass-container h1 {
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px 5px #333;
}

.fpass-image {
    margin-bottom: 20px;
}

.input-containerfp {
    margin-bottom: 20px;
    position: relative;
}

.input-containerfp input {
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 22px;
    outline: none;
}
.input-containerfp input:focus {
    background-color: #9cc0c9;
}

.input-containerfp .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.forgot-password, .register {
    text-decoration: underline;
    color: #007bff;
}

.fpass-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.fpass-button:hover {
    background-color: #2980b9;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .fpass-container {
        width: 60%; /* Adjust container width for smaller screens */
        max-width: none; /* Remove max-width for smaller screens */
    }

    .input-container input {
        width: 40%; /* Use 100% width for inputs on smaller screens */
    }
}