.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal-content {
  background-color: #7cde6f;
  border-radius: 8px;
  width: 600px;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
  color: #777;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.input-field,
.description-field,
.info-button,
.pin-button,
.cancel-button {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.input-field,
.description-field,
.info-button {
  height: 40px;
}

.description-field {
  height: 150px;
  resize: none;
  overflow-y: auto;
}

.info-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.button-container {
  display: center;
  justify-content: space-between;
  width: 100%;
}

.pin-button,
.cancel-button {
  width: calc(48% - 5px); /* Adjusted width to make each button take nearly half the width with margin */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0; /* Removed margin between the buttons */
}

.pin-button:hover,
.cancel-button:hover {
  background-color: #0056b3;
}
/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
  }

  .button-container {
    flex-direction: column;
  }

  .pin-button,
  .cancel-button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 100%;
  }
}